@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <title>Casus Belli Admin</title>
        <link href="~/Styles/AdminStyle.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/adminScript")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        @RenderSection("Scripts", false)
    </head>
    <body>
        <div class="UpperLayoutPanel">
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    <li><a href="~/Admin/Types">Types</a></li>
                    <li><a href="~/Admin/SubTypes">SubTypes</a></li>
                    <li><a href="~/Admin/Products">Products</a></li>
                    <li><a href="~/Admin/Clients">Clients</a></li>
                    <li><a href="~/Admin/Transactions">Transactions</a></li>
                    <li><a href="~/Admin/WebLink">Web links</a></li>
                </ul>
            </div>
        </div>
        @if (TempData["message"] != null)
        { <div class="Message">@TempData["message"]</div>}
        <div">
            @RenderBody()
        </div>
    </body>
</html>
