@model CasusBelli.UI.Models.SubTypesViewModel

@{
    ViewBag.Title = "EditSubType";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<h2>EditSubType</h2>

<h1>@Model.SubTypeName</h1>

@using (Html.BeginForm("EditSubType", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{

    <div class="editor-label"><label for="TypeName">TypeName</label></div>
    <div class="editor-field">
        @Html.DropDownListFor(modelItem => Model.TypeId, new SelectList(Model.AvailableTypes, "TypeId", "TypeName"))
    </div>
    
    <div class="editor-label"><label for="CountryName">CountryName</label></div>
    <div class="editor-field">
        @Html.DropDownListFor(modelItem => Model.CountryId, new SelectList(Model.AvailableCountries, "CountryId", "CountryName"))
    </div>
    
    <div class="editor-label"><label for="CountryName">Image</label></div>
    <div class="ProductType">
        @if (Model.ImageData == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImageSubType", "Image", new {Model.SubTypeId})"/>
        }
        <div>Upload new image: <input type="file" name="Image"/></div>
    </div>
    
    @Html.EditorForModel()
    <input type="submit" value="Зберегти зміни" />
    @Html.ActionLink("Відмінити зміни", "Index")
}
