@model List<CasusBelli.UI.Models.SubTypesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<fieldset>
    <h2>SubTypes</h2>

    <p>
        @Html.ActionLink("Create New", "CreateSubType")
    </p>
    <table border="1">
        <tr>
            <th>
                SubTypeName
            </th>
            <th>
                SubTypeText
            </th>
            <th>
                Photo
            </th>
            <th>
                AdditionalInfo
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTypeText)
                </td>
                <td>
                    <div class="ProductType">
                        @*@if (item.ImageData == null)
                        {
                            @:None
                                    }
                        else
                        {
                            <img width="150" height="150" src="@Url.Action("GetImageSubType", "Image", new {item.SubTypeId})" />
                        }*@
                        <img width="150" height="150" src="@item.Photo" />
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSubType", new { id = item.SubTypeId }) |
                    @Html.ActionLink("Delete", "DeleteSubType", new { id = item.SubTypeId })
                </td>

            </tr>
        }


    </table>
</fieldset>

