@model IEnumerable<CasusBelli.UI.Models.ClientsViewModel>

@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<fieldset>
    <h2>Clients</h2>
    
    <p>
        <text><a class="createbtn" >Create new</a></text>
    </p>
    
    <table border="1">
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NPOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </th>
        <th></th>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NPOffice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalInfo)
                </td>
                <td>
                
                </td>
            </tr>
        }
    </table>

</fieldset>

<div id="createdialog" title="Create client" class="modal-dialog">
    <form action="/Admin/CreateClient" method="POST">
        Name <br />
        <input type="text" name="name" /> <br />
        Phone <br />
        <input type="text" name="phone" /><br />
        Email <br />
        <input type="text" name="email" /><br />
        City <br />
        <input type="text" name="city" /><br />
        NPOffice <br />
        <input type="text" name="NPOffice" /><br />
        Additional Info <br />
        <input type="text" name="addiotionalInfo" /><br />
        <button>Create</button>
    </form>
</div>