@using System.CodeDom
@using Microsoft.Ajax.Utilities
@model List<CasusBelli.UI.Models.AdminProductsListViewModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h1>Products</h1>

<p>
    @Html.ActionLink("Add new product", "CreateProduct")
</p>


@foreach (var type in Model.GroupBy(x => x.TypeName).Select(grp => new {GroupList = grp.ToList(), GroupKey = grp.Key}))
{
    <h2>@type.GroupKey</h2>
    foreach (var subtype in type.GroupList.GroupBy(x=>x.SubTypeName).Select(grp=>new {GroupKey = grp.Key, GroupList = grp.ToList()}))
    {
        <h3>@subtype.GroupKey</h3>

    <table border="1" class="tablesorter">
        <tr>
            <th>
                Type
            </th>
            <th>
                SubType
            </th>
            <th>
                Country
            </th>
            <th>
                Size
            </th>
            <th>
                NATO size
            </th>
            <th>
                Count
            </th>
            <th>
                Additional info
            </th>
            <th>
                Trade price
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var products in subtype.GroupList.GroupBy(x => new { x.Size, x.NATOSize, x.Price, x.CountryId, x.AdditionalInfo, x.Condition, x.StatusId, x.TradePrice, x.SoldPrice }).Select(grp => new { GroupKey = grp.Key, GroupList = grp.ToList() }))
        {
            <tr @{if (products.GroupList.First().StatusId == 3) { <text> style="background-color: red;" </text> }}>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().SubTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().NATOSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().AdditionalInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().TradePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => products.GroupList.First().StatusName)
                </td>
                <td>
                    @{if (products.GroupList.First().StatusId != 3)
                    {<text><a class="soldbtn" itemid="@products.GroupList.First().ProductId">Sold</a></text>}}
                </td>
            </tr>
        }

    </table>
    }
}

<div id ="solddialog" title="Sold panel" class="modal-dialog">
    <form action="/Admin/SoldProduct" method="POST">
        <input type="hidden" name="productid" value="" id="productid"/>
        Sold price <br />
        <input type="text" name="price"/> <br />
        Sold count <br />
        <input type="text" name="count"/><br />
        <button>Sold</button>
    </form>
</div>